* {
    box-sizing: border-box;
}
body {
    background-color: #ff7f29;
    font-family: "Arial", sans-serif;
    padding: 50px;
}
.container{
    margin: 20px auto;
    padding: 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(253, 229, 229);
    border-radius: 5px;
}
 h1 {
    width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    /*padding-top: 40px;*/
}
.logins{
    /*padding: 15px;*/
    text-align: center;
}
input.field{
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
.logins .field{
    background-color: #ECF0F1;
}
.logins .field:focus {
    border: 2px solid #777;
}
.logins .fieldBtn{
    background-color: #777;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
.logins .fieldBtn:hover,
.logins .fieldBtn:active {
    background-color: #595959;
    border: 2px solid #595959;
}
